* {
    font-family: 'Courier New', Courier, monospace;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 10px;
}

.Registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paper{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}